# list, tuple, set, dict

## List
* Opret
* Index
* Slicing
* Metoder
    * dir(list)
* loop

* Container type

In [56]:
l = [12, 5, 1,  2, 3, 4, 4,4, 8, 7, 5, 3]
l[1:3] # slicing

for i in l:
   print(i)

#l

s = set(l)
(s, l)

({1, 2, 3, 4, 5, 7, 8, 12}, [12, 5, 1, 2, 3, 4, 4, 4, 8, 7, 5, 3])

## Tuple
* Imutable
* Sequence type
    * (1, 'Claus', 'Bove', True)
* loop

In [35]:
t = (1, 'Claus')

for i in t:
    print(i * 12)

12
ClausClausClausClausClausClausClausClausClausClausClausClaus

tuple eller en liste


Claus, 51, male, clbo@kea.dk, 31011970-1313   # record 


Bmw, Toyota, Hyundai, Skoda, Fiat, Volvo  # liste  for i in cars:



Claus, Henning, Torben, Carl, Tine
'Hello', 'World', 'Huston', 'we', 'are', 'here'
Rolling Stones, Goats Head Soup, 31 August 1973, 46:56


[(40.730610, -73.935242, New York City, NY, USA), (31.739847, 65.755920, Kandahar, Kandahar Province, Afghanistan)]

In [36]:
cars = ['Bmw', 'Toyota', 'Hyundai', 'Skoda', 'Fiat', 'Volvo']

for i in cars:
    print(i.upper())

BMW
TOYOTA
HYUNDAI
SKODA
FIAT
VOLVO

In [39]:
student = ('Claus', 51, 'male', 'clbo@kea.dk', '31011970-1313')

student[0]

TypeError: 'tuple' object doesn't support item deletion

## Set
<img src="../../assets/venn.png" width=50%/>

* unique

## Dictionaries

* {Key:Value}
* JSON
    * json.dumps(d)

In [57]:
d = {
    'name':'Claus',
    'age':12,
    'name' : 'khsfdkjhdfk'
}

In [58]:
import json


jd = json.dumps(d)

jd

'{"name": "khsfdkjhdfk", "age": 12}'

## Loops

**foreach**

In [63]:
for i in [1, 2, 3, 4]:
    print(i, end=' - ')

1 - 2 - 3 - 4 -

**for loop**

* enumerate()
* range()

## Enumerat()

In [69]:
for i in enumerate(['Claus', 'Bent', 'Torben'], 1):
    print(i[0] )
    print(i[1])

1
Claus
2
Bent
3
Torben

**range**

In [67]:
for i in range(0,5):
    print(i)

0
1
2
3
4

## List comprehension

In [77]:
l = []
for i in [1, 2, 3, 4]:
    if i%2==0:
      l.append(i**2)
l

[4, 16]

In [78]:
[ i for i in range(1,10)   ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Lav en liste af store bogstaver fra det engelske alfabet

In [81]:
chr(65)

'A'

In [88]:
[ chr(i) for i in range(65,91) if i%2==0    ]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']